body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgba(201, 216, 247, 0.684);
}

img {
    cursor: pointer;
    width: 80px;
    height: 80px;
}

.specs {
    margin-top: 10px;
    margin-bottom: 10px;
}

.playing-board {
    margin-bottom: 50px;
}

.footer {
    margin: auto;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
}

button {
    cursor: pointer;
    padding: 5px;
    font-family: 'Courier', monospace;
    font-size: medium;
    font-weight: bolder;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(233, 183, 154, 0.742);
}

button:hover {
    background-color: rgb(247, 161, 111);
}

.score-board {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 16px;
}

.help {
    display: flex;
    gap: 90px;
    height: 50px;
    justify-content: center;
    margin-top: 16px;
}

.help p,button.mega, button.safe {
    background-color: rgba(170, 195, 255, 0.967);
}

button.mega:hover, button.safe:hover {
    background-color: rgba(128, 162, 240, 0.967);
}

p {
    width: 150px;
    font-family: 'Courier', monospace;
    margin: auto;
    font-size: medium;
    font-weight: bolder;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(233, 183, 154, 0.742);
}


.game-border {
    width: 550px;
    height: auto;
    border: 3px solid rgb(129, 43, 215);
    margin-inline: auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(245, 203, 255, 0.421);
}

table {
    border: 3px solid rgb(129, 43, 215);
    margin-inline: auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(245, 197, 169, 0.767);
}

.hidden {
    border: 3px solid rgba(0, 0, 0, 0.514);
    background-color: rgb(133, 159, 243);
}

td {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.195);
    background-color: rgb(243, 173, 133);
    border-radius: 3px;
    padding: 2px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}

td.hidden:hover {
    background-color: rgb(103, 134, 238);
}

.one {
    color: red;
}

.two {
    color: blue;
}

.three {
    color: green;
}

.four {
    color: yellow;
}

.five {
    color: rgb(137, 21, 246);
}